:root {
    --color-text-primary: #2196f3;
    --color-text-secondary: #757575;
    --color-text-light: #fff;
    --color-text-dark: #212121;

    --bgcolor-primary: #2f303a;
    --bgcolor-dark: #000;

    --font-text-primary: Roboto:wght@700; 
    --font-text-secondary: Roboto:wght@400; 
  --font-figcapt-hdr: Roboto:wght@500; 
  
}

/*  Reset */
* {
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
}

/* ogólne klasy/klasy pomocnicze */
.logo-fonts {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    /* identical to box height */
    letter-spacing: 0.03em;
}



a.logo-fonts {
    color: var(--color-text-primary);
}

nav a.logo-fonts  > Span {
    color: black;
}

footer a.logo-fonts  > Span {
    color: white;
}



nav .menu-color li > a {
    color: var(--color-text-dark);
}

nav .menu-color li > a:hover {
    color: var(--color-text-primary);
}

header a {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

 .address-font {
    font-family: var(--font-text-secondary);
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;
}

.address-font > ul > li  {
  color:white
}  

.address-font > ul li > a {
 color: rgba(255, 255, 255, 0.6);   
}

.address-font > ul li > a:hover {
 color: var(--color-text-primary); 
}



 .email,
 .tel {
    color: var(--color-text-secondary);
}

 .email:hover,
 .tel:hover {
    color: var(--color-text-primary);
 cursor: pointer;
  background-color: white;



  
}



/* reszta klas w kolejności od <header> do <footer> */

h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;

    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

section > h1 {
    color: var(--color-text-light);
}

main > section > h1 {
    background: var(--bgcolor-primary);
}

footer {
 background: var(--bgcolor-primary);
}

.button-text-font {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    /* identical to box height, or 188% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.button-text-color {
    color: var(--color-text-light);
}

.button-bg {
    background: var(--color-text-primary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: var(--color-text-primary);
}

h3 {
  font-family: var(--font-text-primary);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
color: var(--color-text-dark);

}

/*
#us-attr li p {
    font: var(--font-text-secondary);
    color: var(--color-text-secondary);
}
*/

.text-secondary {
  font-family: var(--font-text-secondary);
font-size: 14px;
line-height: 24px;

/* or 171% */
letter-spacing: 0.03em;
  color: var(--color-text-secondary);

}

h2 {
  font-family: var(--font-text-primary);
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text-dark);
}

.fig-caption {
font-size: 16px;
line-height: 19px;

/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
 
}

.fig-caption > h4 {
font-family: var(--font-figcapt-hdr); 
color: var(--color-text-dark);
} 

.fig-caption > p {
font-family: var(--font-text-secondary) ;
 color: var(--color-text-secondary);
}



.wrapper {
    display: flex;
    /* flex-direction: row-reverse;*/
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0px;
    /* background: #f00;*/
    height: 16px;
    width: auto;
}

.wrapper-30 {
    display: flex;
    /* flex-direction: row-reverse;*/
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
    /* background: #f00;*/
    height: 101px;
    width: auto;
    padding: 0;
}

.wrapper-img {
    display: flex;
    /* flex-direction: row-reverse;*/
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
    /* background: #f00;*/
    height: 290px;
    width: auto;
    padding: 0;
    position: static;
}

.wrapper-img-portfolio {
    display: flex;
    /* flex-direction: row-reverse;*/
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 88px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    /* background: #f00;*/
    height: 270px;
    width: auto;
    padding: 0;
    position: static;
}
/*
.main-page {
    position: relative;
    width: 1600px;
    
    height: 2349px;
    
   

    margin-left: 0;
    padding: 0;
}

.pos-menu {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    
    
}

.pos-main-header {
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    
}

.pos-attributes {
    position: absolute;
    width: 1170px;
    height: 101px;
    left: 215px;
    top: 774px;
    
}

.pos-what-we-do {
    position: absolute;
    width: 1170px;
    height: 386px;
    left: 215px;
    top: 969px;
    
}

.pos-team {
    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1414px;
    
    background: #f5f4fa;
}

.pos-team-2 {
    position: absolute;
    width: 1170px;
    height: 386px;
    left: 215px;
    top: 186px;
    
}

.pos-footer {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;
    
    background: #2f303a;
}

.pos-footer-portfolio {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 1722px;
    
    background: #2f303a;
}


.pos-menu-webstudio {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
}

.word-web {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    letter-spacing: 0.03em;

    color: #2196f3;
    text-decoration: none;
}

.word-studio {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    letter-spacing: 0.03em;

    color: #000;
}

.link-font {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.pos-menu-portfolio {
    position: absolute;
    width: 0px;
    height: 16px;
    left: 552px;
    top: 32px;
    bottom: 0%;
    color: #212121;
    text-decoration: none;
}

.pos-menu-portfolio:hover {
    color: #2196f3;
}

.pos-menu-kontakt {
    position: absolute;
    width: 51px;
    height: 16px;
    left: 656px;
    top: 32px;
    color: #212121;
    text-decoration: none;
}

.pos-menu-kontakt:hover {
    color: #2196f3;
}

.pos-menu-email {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    
    color: #757575;
    text-decoration: none;
}

.pos-menu-email:hover {
    color: #2196f3;
}

.pos-menu-telefon {
    position: absolute;
    width: 160px;
    height: 16px;
    left: 1263px;
    top: 32px;
    color: #757575;
    text-decoration: none;
}

.pos-menu-telefon:hover {
    color: #2196f3;
}

li {
    list-style-type: none;
}

.main-header-text {
    position: absolute;
    width: 796px;
    height: 120px;
    left: 452px;
    top: 200px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;

    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;
}

.pos-header-button {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
}

.pos-header-button {
    
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
}

.header-button {
    

    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;

    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    color: #ffffff;
}

.what-we-do-heater {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
}

.what-we-do-img {
    

    width: 370px;
    height: 294px;
    margin: 0;
}

.pos-what-we-do-img {
    
    position: absolute;
    left: 0px;
    top: 92px;
}

.lorem-ipsum-box-first {
    width: 270px;
    height: 101px;
    margin: 0px;
}

.lorem-ipsum-box {
    width: 270px;
    height: 101px;
    margin: 0px;
}


.pos-lorem-ipsum-hdr {
    position: absolute;
    width: 270px;
    height: 16px;
  
}

.lorem-ipsum-hdr {
    margin: 0;
}


.pos-lorem-ipsum-text {
    position: absolute;
    width: 270px;
    height: 75px;
    }

.lorem-ipsum-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin: 0px;

    
    letter-spacing: 0.03em;

    color: #757575;
}

.pos-card-bg {
    position: absolute;
    width: 270px;
    height: 368px;
    left: 215px;
    top: 1635px;

    background: #ffffff;
}




.card-shadow {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
    width: 270px;
    height: 368px;
        background: #ffffff;

    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-img-first {
    width: 270px;
    height: 260px;
    left: 0;
    top: 1449px;
    margin: 0;
    position: 0;
}

.team-img {
    width: 270px;
    height: 260px;
    margin: 0;
    position: 0;
}

.pos-fig-caption {
        width: 270px;
    height: 108px;
        
  margin-bottom: 30px;
  margin-left: 70px;
  margin-right: 70px; 
    margin: 0;
}

.fig-caption {
    font-family: "Roboto";
    font-style: normal;
    
    font-size: 16px;
    line-height: 19px;

    
    text-align: center;
    letter-spacing: 0.03em;

    
}

.fig-caption > h3 {
    
    color: #212121;
}

.fig-caption > p {
    color: #757575;
}

.pos-team > h2 {
    margin-top: 94px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.adress-font {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    
    letter-spacing: 0.03em;
    text-decoration: none;
}

.adress-font li > a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.adress-font > li {
    color: #ffffff;
}

.pos-adress {
    

    position: absolute;
    width: 246px;
    height: 81px;
    left: 215px;
    top: 111px;
    margin: 0;
    padding: 0;
}

.pos-footer > a {
    left: 215px;
    top: 60px;
}

.pos-box-portfolio {
    

    position: absolute;
    width: 1170px;
    height: 1360px;
    left: 215px;
    top: 174px;
    background: #fff;
}

.pos-footer-portfolio > a {
    left: 215px;
    top: 60px;
}

.main-page-portfolio {
    position: absolute;
    width: 1600px;
    
    height: 1642px;
    background: #fff;
    

    margin-left: 0;
    padding: 0;
    top: 80px;
}


.pos-button-nav {
    position: absolute;
    width: 121px;
    height: 38px;
    left: 510px;
    top: 0px;

    margin-left: 0px;
}

.pos-button-nav li > button {
    width: 121px;
    height: 38px;

    background: #2196f3;

    
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    
    text-align: center;
    letter-spacing: 0.03em;

    color: #ffffff;
}


.wrapper-img-portfolio li {
    
    width: 370px;
    height: 404px;
    
  
    background: #ffffff;
    border: 1px solid #eeeeee;
    margin-bottom: 30px;
}
*/
